body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2c3e50;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-size: 12pt;
    line-height: 1.4;
}

#mainContainer {
    width: 70%;
    margin: 30px auto;
}

#leftContainer, #rightContainer {
    width: 50%;
    float: left;
}

#memoryContainer {
    background-color: #34495e;
    height: 80vh;
    width: 100%;
}

#memory {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.memory-block {
    width: 100%;
    border-top: 1px solid #fff;
}

.operation-form input, .operation-form button {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

#processTable th, #processTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #fff;
}
#output {
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.memory-map {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
}

#memoryVisualization {
    width: 100%;
    border: 1px solid black;
    height : 800px;
    overflow-y: auto;  /* Ensures everything fits within the container */
    white-space: nowrap;  /* Keeps blocks in a single line */
}

.memory-block {
    padding: 10px;
    margin: 1px 0;
    color: white;
    text-align: center;
    background-color: #aaa; /* Default color, should be overwritten by JavaScript */
}

.free {
    background-color: #27ae60; /* Green for free memory */
}

.allocated {
    background-color: #c0392b; /* Red for allocated memory */
}

#messageDisplay {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #d35400;
}
#processTable {
    height: 300px; /* Fixed height for the table to enable scrolling */
    overflow-y: auto; /* Enables scrolling for the table */
    background-color: #ffffff; /* Light background for the table */
    border-radius: 0.25rem; /* Adds rounded corners */
}
.table th, .table td {
    color: #333; /* Darker text for readability */
}
/* Add any specific styles for your chart container if needed */
#memoryChart {
    margin: 20px auto;
    display: block;
    width: 400px;
    height: 400px;
}
