<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory Management Simulation</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/manage.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Memory Management</h1>
        <div class="row">
            <div class="col-md-6">
                <div id="formsContainer" class="mb-3">
                    <form id="createForm" class="form-inline mb-2">
                        <input type="number" name="size" class="form-control mr-2" placeholder="Memory size (KB)" required>
                        <button type="submit" class="btn btn-primary">Add Process</button>
                    </form>

                    <form id="deleteForm" class="form-inline mb-2">
                        <input type="number" name="pid" class="form-control mr-2" placeholder="Process ID" required>
                        <button type="submit" class="btn btn-danger">Delete Process</button>
                    </form>

                    <form id="convertForm" class="form-inline">
                        <input type="number" name="pid" class="form-control mr-2" placeholder="Process ID" required>
                        <input type="number" name="virtual_address" class="form-control mr-2" placeholder="Virtual Address" required>
                        <button type="submit" class="btn btn-success">Convert Address</button>
                    </form>
                </div>

                <div id="messageDisplay" class="alert alert-info"></div>

                <div class="table-responsive">
                    <table id="processTable" class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Process ID</th>
                                <th>Size (K)</th>
                                <th>Status</th>
                                <th>Base</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <canvas id="memoryChart" width="400" height="400"></canvas>
                <button class="btn btn-primary mt-3" onclick="restartSimulation()">Restart Simulation</button>
            </div>

            <div class="col-md-6">
                <div id="memoryVisualization"></div>
            </div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
